/build/
/qruise.pem
/ROOT.war
/.settings/
/.classpath
/**/.DS_Store
/.project
/client/**/*.js
/client/**/*.js.map
/server/**/*.js
/server/**/*.js.map
/collections/**/*.js
/collections/**/*.js.map
/web.Release.config
/web.Debug.config
/web.config
/obj/Debug
/bin
/obj
/**/.DS_STORE
/socially.csproj.user
/.idea
/.idea/workspace.xml